<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
  <link rel="stylesheet" href="styles/icons.css">
  <title>Document</title>
</head>
<body>
  <h1>Search Results</h1>
    <ul>
      <section id="books">
        <!-- <li><%= data[0].title %></li> -->
        <% for(var i = 0; i < data.length; i++) { %>
          <!-- <img src="" alt="" /> -->
          <li id="title"><%= data[i].title %> by <%= data[i].author %></li>
          <li id="description"><%= data[i].description %></li>
        <% } %>
      </section>
    </ul>
  
</body>
</html>