<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Search Results</h1>
  <ul>
    <!-- <li><%= data[0].title %></li> -->
    <% for(var i = 0; i < data.length; i++) { %>
      <li><%= data[i].title %> by <%= data[i].author %></li>
    <% } %>
  </ul>
  
</body>
</html>