<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amazingest Book App Ever</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/icons.css">
</head>
<body>
    <h1>Book Search</h1> 

    <!-- FORM -->
    <form action="searches" method="POST">
        <fieldset>
            <legend>Search by Title or Author</legend>

            <!-- TITLE -->
            <label for="search">
                <span>Title</span>
                <input type="radio" name="search" value="title">
            </label>

            <!-- AUTHOR -->
            <label for="search">
                <span>Author</span>
                <input type="radio" name="search" value="author">
            </label>

            <!-- SEARCH BOX -->
            <label for="search">
                <input type="text" name="search" placeholder="insert book name or author">
            </label>
        </fieldset>
    </form>
</body>
</html>