body {
    width: 960px;
    margin: auto;
  }

#books {
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; 
    border: 1px groove black;
}

#books > * {
    box-sizing: border-box;
    width: 200px; 
}

