#author {
  font-size: 1.5em;
  font-style: italic;
}

nav {
  box-sizing: border-box;
  direction: flex;
  flex-direction: row;
}

nav > * {
  width: 50%;
  border: 1px solid black;
}

body {
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

#books, #edit {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  border: 1px groove black;
  padding: 1em;
}



.inputForms {
  width: 100%;
  padding: 0.5em;
}


/* #edit {
  flex-direction: column;
  height: 100%
} */

h1 {
  color: blue;
}

li{
  margin: 15px;
}

#title{
  font-size: 2em;
}