body {
  width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 2em 4em 2em 4em;
}

nav > * {
  margin: 1em;
}

#books, #edit, #new-search{
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  border: 1px groove black;
  padding: 1em;
}

#new-search > *{
  padding: 1em;
  margin: 2em;
}

.inputForms {
  width: 100%;
  padding: 0.5em;
}

li {
  margin: 15px;
}

#author {
  font-size: 1.5em;
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}